@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 10, 10, 10; */
    /* --background-end-rgb: 199, 199, 199; */
    --background-start-rgb: 43, 43, 43;
    --background-end-rgb: 43, 43, 43;
    color: white;
  }
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* my */

p,
a {
  font-weight: normal;
  text-decoration: none;
}

header,
h1,
h2,
h3 {
  font-weight: 700;
}

/* html {
  font-size: 16px;
  -webkit-text-size-adjust: none;

  @media screen and (min-device-width: 320px) {
    html {
      font-size: 62.5%;
    }
  }
} */

/* body {
  @apply bg-primary text-white;
} */

.title-font {
  font-family: 'SD Gyeokdong Mj2';
  font-weight: 400;
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  z-index: -1;
}

.submit-form {
  backdrop-filter: blur(10px);
  background-color: rgba(221, 221, 221, 0.1);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

input::placeholder {
  font-size: 0.9rem;
}

button:disabled {
  background-color: #e1e1e1;
  color: gray;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* display: none; */
}

::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border-radius: 10px;
  /* display: none; */
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
/* @media all and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 112.5%;
  }
} */

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
/* @media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 106.3%;
  }
} */

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
/* @media all and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 106.3%;
  }
} */

/* 모바일 세로 (해상도 ~ 479px)*/
/* @media all and (max-width: 479px) {
  html {
    font-size: 100%;
  }
} */

.scroll-bottom {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
